
<form class="form">
    <div class="row">
        <input type="search" class="form-control" name="search" placeholder="Search" value="{{search}}" autocomplete="off">
    </div>
    <div class="row">
        <label for="availability">Availability: </label>
        <select name="availability" id="availability" onchange="submit()">
            <option value="">- Alle -</option>
            {% for a in availabilities %}
            <option value="{{a.id}}" {{availability_id == a.id ? "selected"}}>{{a.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="row">
        <label for="sort">Sortieren:</label>
        <select name="sort" id="sort" onchange="submit()">
            {% for k,v in sorts %}
            <option value="{{k}}" {{sort == k ? "selected"}}>{{v}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="row justify-content-end">
        <nav class="nav nav-pills">
            {% for mode in modes %}
            <a class="nav-link{{ mode.isActive ? ' active' }}" href="{{mode.url}}"><i class="{{mode.title}}"></i></a>
            {% endfor %}
        </nav>
    </div>
</form>

{% for movie in movies %}
{% else %}
<div class="row justify-content-center">
    <h2>Leider keine Filme mit {{search}} gefunden.</h2>
</div>
{% endfor %}

<div class="movie-list">
    {% partial __SELF__~"::movie-list" %}
</div>

{% if movies.lastPage > 1 %}
<nav aria-label="...">
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item{{movies.currentPage == 1 ? ' disabled'}}"><a class="page-link" href="{{ this.page.baseFileName|page}}?page={{movies.currentPage-1}}&search={{search}}&mode={{mode}}">Prev</a></li>

        {% for page in 1..movies.lastPage %}
        <li class="page-item{{ movies.currentPage == page ? ' active' : null }}">
            <a class="page-link" href="{{ this.page.baseFileName|page}}?page={{page}}&search={{search}}&mode={{mode}}">{{ page }}</a>
        </li>
        {% endfor %}

        <li class="page-item{{movies.lastPage == movies.currentPage ? ' disabled'}}"><a class="page-link" href="{{ this.page.baseFileName|page}}?page={{movies.currentPage+1}}&search={{search}}&mode={{mode}}">Next</a></li>
    </ul>
</nav>
{% endif %}