<form>
    <input class="form-control" placeholder="Titel, Thema oder Schlagwort" type="text"
           value="{{ query }}" name="query">
</form>
<div class="search-result">
    <p>
        {{ movies.total }} Filme gefunden
    </p>
    {% for movie in movies %}
    <p>
    <h2>{{ movie.title }}
        <small class="hidden-xs">{{ movie.subtitle }}</small>
    </h2>
    <img width="120px" src="{{ movie.cover_url|media }}" alt="">
    <span>{{ movie.year }}</span>
    <p>{{ movie.rating }}</p>
    </p>
    {% else %}
    <p>
    <h2>Leider nichts zum Begriff "{{ query }}" gefunden</h2>
    </p>
    {% endfor %}
    {{ movies.render()|raw }}
</div>