
<form class="form">
    <div class="row">
        <input type="search" class="form-control" name="search" placeholder="Search" value="{{search}}" autocomplete="off">
    </div>
    <div class="row">
        <label for="tag">Tag: </label>
        <select name="tag" id="tag" onchange="submit()">
            <option value="">- Alle -</option>
            {% for t in tags %}
            <option value="{{t.id}}" {{tag == t.id ? "selected"}}>{{t.name}}</option>
            {% endfor %}
        </select>
        <label for="availability">Availability: </label>
        <select name="availability" id="availability" onchange="submit()">
            <option value="">- Alle -</option>
            {% for a in availabilities %}
            <option value="{{a.id}}" {{availability_id == a.id ? "selected"}}>{{a.name}}</option>
            {% endfor %}
        </select>
    </div>
</form>
<div class="row mt-2">
    <div class="col">
    {% if search %}
        Suchbegriff: <span class="badge badge-pill badge-default">{{search}} <a href="{{ this.page.baseFileName|page }}"><span aria-hidden="true">&times;</span></a></span>
    {% endif %}
    </div>
</div>

{% for movie in movies %}
{% else %}
<div class="row justify-content-center">
    <h2>Leider keine Filme mit {{search}} gefunden.</h2>
</div>
{% endfor %}

<div class="movie-list">
    {% partial __SELF__~"::movie-list" %}
</div>

{% if movies.lastPage > 1 %}
<nav aria-label="...">
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item{{movies.currentPage == 1 ? ' disabled'}}"><a class="page-link" href="{{ this.page.baseFileName|page}}?page={{movies.currentPage-1}}&search={{search}}">Prev</a></li>

        {% for page in 1..movies.lastPage %}
        <li class="page-item{{ movies.currentPage == page ? ' active' : null }}">
            <a class="page-link" href="{{ this.page.baseFileName|page}}?page={{page}}&search={{search}}">{{ page }}</a>
        </li>
        {% endfor %}

        <li class="page-item{{movies.lastPage == movies.currentPage ? ' disabled'}}"><a class="page-link" href="{{ this.page.baseFileName|page}}?page={{movies.currentPage+1}}&search={{search}}">Next</a></li>
    </ul>
</nav>
{% endif %}