<nav class="row mb-4 hidden-xs-down">
    <a class="breadcrumb-item" href="{{ 'movies'|page }}">{{ 'nav.movies'|_ }}</a>
    <span class="breadcrumb-item active">{{movie.title}}</span>
</nav>
<div class="row">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{ video_src(media) }}" allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    {% for medium in movie.media %}
    <figure class="figure mt-1 mr-1">
        <a href="{{ 'movie'|page({slug: movie.slug, medium: medium.id}) }}" class="media-action">
            <img width="120px" src="{{ image_src(medium) }}" class="figure-img img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
        </a>
        <figcaption class="figure-caption">{{medium.title}}</figcaption>
    </figure>
    {% endfor %}
</div>
